@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  font: 16px/26px 'Noto Sans Japanese', serif;
  text-shadow: 1px 1px 13px #fff;
}

a {
  color: #375EAB;
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 768px)  {
  .container {
    width: 750px;
  }
}

.navbar {
  margin-top: 30px;
  background: rgba(255,255,255,0.9);
}

.site-name {
  font-size: 30px;
  font-weight: 900;
}

.navbar-menu {
  padding: 0;
  margin: 12px 0;
  font-size: 26px;
  font-weight: 900;
  float: right;
}

.navbar-menu li {
  display: inline-block;
  padding-left: 10px
}

.post-list {
  margin-bottom: 50px;
}

.post-header {
  margin-bottom: 30px;
}

.post-content p {
  margin-bottom: 15px;
}
